# ==========================================
# Entornos de desarrollo e IDEs
# ==========================================
.idea/
.gradle/
*.iml
*.iws
*.ipr

# ==========================================
# Archivos de compilación y generados (Build)
# ==========================================
build/
*/build/
app/build/
*.apk
*.aab
*.ap_
*.dex
*.class

# ==========================================
# Configuración local (¡Nunca subir!)
# ==========================================
# Contiene la ruta local de tu SDK de Android en tu PC
local.properties

# ==========================================
# Archivos sensibles y credenciales
# ==========================================
# Archivo de configuración de Firebase que pediste excluir
google-services.json
app/google-services.json
**/google-services.json

# ==========================================
# Archivos de depuración y logs masivos
# ==========================================
# Excluye los volcados de memoria de +700MB que tienes en tu carpeta raíz
*.hprof
*.log

# ==========================================
# Archivos del Sistema Operativo
# ==========================================
.DS_Store
Thumbs.db